/* メニューの設定（全体）初期設定 */
#wrapper nav {
    /* 位置固定 */
    position: fixed;
    top: 0;
    right: -300px;
    /* 最初は画面の端より右側に配置 */
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: rgba(33, 33, 33, .9);
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2
}

/* メニューの設定 */
#wrapper nav ul li {
    padding: 20px 28px
}

/* メニューの設定（リンク） */
#wrapper nav ul li a {
    text-decoration: none;
    color: #ddd
}

/* ハンバーガーメニュー全体 */
#wrapper .btn-gnavi {
    /* 位置固定 */
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    /*
       web-kitは古いブラウザ用のcss。
       メニューを開いた状態、閉じた状態を
       0.4秒間でスムーズにアニメーションさせる。
     */
    -webkit-transition: all 400ms;
    /* ↑と同意。授業ではこちらだけでも動く */
    transition: all 400ms
}

/* ハンバーガーメニューの3本線 */
#wrapper .btn-gnavi span {
    /* 親要素に対する相対配置 */
    position: absolute;
    width: 30px;
    height: 4px;
    /* background: #666; */
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

#s1 {
    background: red;
}

#s2 {
    background: blue;
}

#s3 {
    background: yellow;
}

/* 3本線1本目
    ↓のセレクターの意味
    ・ID=#wrapperの中の、
    ・.btn-gnaviクラスの中の
    ・1番目のspan
*/
#wrapper .btn-gnavi span:nth-child(1) {
    top: 0
}

/* 3本線2本目 */
#wrapper .btn-gnavi span:nth-child(2) {
    top: 10px
}

/* 3本線3本目 */
#wrapper .btn-gnavi span:nth-child(3) {
    top: 20px
}

/* ハンバーガーメニューをクリックした時のアニメーション */
#wrapper .btn-gnavi.open {
    /* 180度回転 */
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

/* ハンバーガーメニューをクリックした後の3本線の色 */
#wrapper .btn-gnavi.open span {
    /* background: #fff */
}

/*
    ↓のセレクターの意味
    ・ID=#wrapperの中の、
    ・.btn-gnavi.openという「両方」のクラスを持つ要素の中の
    ・1番目のspan
*/
#wrapper .btn-gnavi.open span:nth-child(1) {
    width: 24px;
    /*
       X軸方向に-7px（左に）、Y軸方向に17ピクセル（下に）移動
       そのあと45度時計回りに回転
    */
    -webkit-transform: translate(-7px, 17px) rotate(45deg);
    transform: translate(-7px, 17px) rotate(45deg)
}

/* 3本目のspan */
#wrapper .btn-gnavi.open span:nth-child(3) {
    width: 24px;
    -webkit-transform: translate(-7px, -17px) rotate(-45deg);
    transform: translate(-7px, -17px) rotate(-45deg)
}

#wrapper .contents section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden
}

#wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    /* 要素の高さの半分だけ上に移動 */
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 20px;
    /* color: #fff; */
    text-shadow: 0 0 6px #666
}

#wrapper .contents section:nth-child(odd) p {
    left: 10%
}

#wrapper .contents section:nth-child(even) p {
    right: 10%
}

#wrapper .contents section#section01 {
    background-image: url(../images/img01.jpg)
}

#wrapper .contents section#section02 {
    background-image: url(../images/img02.jpg)
}