@charset "utf-8";

body {
    background-color: #5f9ea0;
}

.container {
    width: 90vw;
    margin: 30px auto;
    padding: 50px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 0.5em;
}

input[type="submit"] {
    width: 100%;
    transition: background 0.3s ease;
    background: linear-gradient(45deg, #4CAF50, #8BC34A);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
    background: linear-gradient(45deg, #45a049, #7CB342);
    transform: scale(1.05);
}

textarea {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 0.5em;
}
