* {
    font-style:unset;
}

table .style1 {
    border: 1px outset;
}

table .style1 > th, td {
    border : 1px inset;
}

table .style1 > th {
    background-color: #778799;
}

._fill {
    background-color: blue;
}

table .style2 {
    border: 1px solid;
}


