.contact_container {
    align-items: center;
}

.contact_title {
    text-align: center;
    padding: 1em;
    font-size: 2em;
}

.contact_table {
    max-width: 1000px;
    width: 90%;
    margin: 20px auto;
    border: 4px solid #ccc;
}

.contact_table th, .contact_table td {
    border: 1px solid #ccc;
}

.contact_table th {
    background-color: #EEE;
    text-align: left;
    padding: 2em 1em;
}

.contact_table td {
    padding: 1em;
}

textarea {
    width: 100%;
    min-height: 200px;
