:root {
    --color-light-green: #A8B3A4;
    --color-medium-green: #879076;
    --color-light-orange: #F4F6F1;
    --color-medium-orange: #A46679;
    --color-light-blue: #A8B3A4;
    --color-dark-green: #44574E;
    --color-hover-green: #879076;
    --color-light-hover-green: #A8B3A4;
    --color-background-header: #F4F6F1;
    --color-background-meta: #F4F6F1;
    --color-background-body: transparent;
    --color-background-links: #F4F6F1;
    --color-article-header:  #F4F6F1;
    --color-text: #333;
    --color-header-text: #333;
    --color-subtext: #666;
    --color-figure-caption: #555;
    --color-border: #ddd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
}

header {
    height: 6em;
    display: flex;
    align-items: center;
    padding: 0 2em;
    background-color: var(--color-background-header);
}

header img {
    height: 70%;
    width: auto;
}

.header_text {
    margin-left: 1em;
}

.header_text .title {
    font-size: 1.5em;
    font-weight: bold;
}

.header_text .sub_title {
    font-size: 1em;
}

.content_container {
    display: flex;
    max-width: 90vw;
    margin: 1em auto;
    border: 1px solid var(--color-border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.column {
    padding: 20px;
    margin: 1rem;
}

.column-meta {
    background-color: var(--color-background-meta);
    flex: 1;
    border-radius: 8px;
}

.column-body {
    background-color: var(--color-background-body);
    flex: 2;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.column-links {
    background-color: var(--color-background-links);
    flex: 1;
    border-radius: 8px;
}

.article_header {
    background-color: var(--color-article-header);
    padding: 10px 15px;
    border-radius: 6px 6px 0 0;
    margin-bottom: 1em;
}

.article_header p {
    font-size: 1.8em;
    font-weight: 500;
    margin: 1em 0;
    color: var(--color-header-text);
    border-bottom: 2px solid var(--color-medium-orange);
}

h2 {
    color: var(--color-medium-orange);
    border-bottom: 2px solid var(--color-medium-orange);
    padding-bottom: 1px;
    margin-bottom: 1em;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

ul li:before {
    content: '•';
    color: var(--color-medium-orange);
    font-weight: bold;
    display: inline-block;
    width: 20px;
    margin-left: -20px;
}

strong {
    color: var(--color-text);
}

a {
    color: var(--color-medium-orange);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

figure {
    text-align: center;
    margin: 20px 0;
}

figcaption {
    font-size: 0.9em;
    color: var(--color-figure-caption);
}


ul {
    list-style: disc inside;
    margin-bottom: 1em;
}

figure {
    margin: 1em 0;
}

figure img {
    max-width: 100%;
    height: auto;
}

figcaption {
    font-size: 0.9em;
    color: var(--color-figure-caption);
    text-align: center;
}

/* スマホ対応のスタイル */
@media (max-width: 768px) {
    .content_container {
        flex-direction: column;
        width: 100%;
    }

    /* 並び順を変更 */
    .column-body {
        order: 1;
    }
    .column-links {
        order: 2;
    }
    .column-meta {
        order: 3;
    }

    .column {
        border-right: none;
        border-bottom: 1px solid var(--color-border);
    }

    .column:last-child {
        border-bottom: none;
    }
}

.links_container {
    background-color: var(--color-background-links);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

/* Title styling */
.links_title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-dark-green);
    margin-bottom: 0.5rem;
}

/* Link styling */
.links_container li {
    text-decoration: none;
    color: var(--color-dark-green);
    font-size: 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 0.2rem 0.5rem;
}

.links_container li:hover {
    color: var(--color-hover-green);
    background-color: var(--color-light-hover-green);
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

.links_container ul {
    margin-left: 1em;
}

ul { /* リストスタイルをリセット */
    list-style: none;
}
