@charset "utf-8";

body {
   /* font-family: serif; */
}

p {
    font-size: 14px;
    line-height: 1.6;
}

em {
    color: #ba55d3;
    font-style: normal;
    font-weight: 111111;
}

h1 {
    font-size: 20px;
    text-align: center;
    letter-spacing: 1em;
}

a:hover{
    color:green;
}

a:visited{
    color:green;
}
a:active{
    color:red;
}

img{
    width: 80%;
}
